@font-face {
    font-family: element-icons;
    src: url(fonts/element-icons.woff) format('woff'), url(fonts/element-icons.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}


.header{
	width: 100%;
	margin-bottom: 20px;
}
.header .logo{
	width: 160px;
	padding:16px 32px;
	box-sizing: border-box;
}

.panel-title{
	padding: 0 15px;
    color: #535351;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-left: 5px solid #409eff;
    margin-left: 6px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.pages{
	margin: 20px 0;
}